:root{
    /* Variaveis, evita ter que copiar o hexadecimal */
    --vermelho: #e50914;
    --preto: #131313;
    --cinza: #aaaaaa;
    --branco: #fafafa;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: var(--branco);
}

header .logo{
    color: var(--vermelho);
    font-family: "arial black";
    font-size: 40px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a{
    text-decoration: none;
    color: var(--cinza);
    margin-right: 10px;
}

header nav a:hover{
    color: var(--branco);
}

/* Main */
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)100%), url("/img/the-mandalorian.jpg");

    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 50px;;
    margin-top: 10;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 44px;
}

.filme-principal .container{
    width: 70%;
}

.container{
    margin-left: 20px;
}

.botao{
    background-color: rgba(0,0,0,.5);
    border: none;
    color: var(--branco);

    padding: 20px;
    margin-left: 10px;
    margin-right: 20px;
    font-size: 12px;

    cursor: pointer;
    transition: 1s;
}

.botao:hover{
    background-color: var(--branco);
    color: var(--preto);
}

.botao i{
    margin-right: 5px;
}

.box-filme{
    width: 100%;
    height: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top:5px;
}